@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

* {   margin: 0;   padding: 0;   box-sizing: border-box; } 
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    background-color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
    
}
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
img {
    width: 100%;
}

@keyframes scroll{
    from{transform: translateX(100%)}
    to{transform: translateX(-100%)}
}
@keyframes scroll2{
    from{transform: translateX(0%)}
    to{transform: translateX(-200%)}
}
.marquee-wall{
    display: flex;
    width: 100vw;
    height: 45px;
    background-color: #ff6748;
    color: #fff;
    font-size:  20px;
    line-height: 2.2;
    overflow: hidden;
}
.marquee-wrapper{
    display: flex;
    animation: scroll 20s linear infinite;
}
.marquee-wrapper:nth-child(2){
    animation: scroll2 20s linear infinite;
    animation-delay: -10s;
}
.marquee{
    width: 250px;
    margin: 0 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__icon {
    position: fixed;
    top: 5vw;
    right: 5vw;
    width: 5vw;
}
.navbar__icon img {
    width: 100%;
}
.applybutton {
    position: fixed;
    bottom: 3vw;
    left: 3vw;
    width: 10vw;
    z-index: 8;
}
.applybutton img {
    width: 100%;
}
#lottie1 {
    width: 40vw;
    position: fixed;
    top: 1vw;
    left: 50vw;
    transform: translate(-50%);
    z-index: 6;
}

.content{
    /* background-image: url("img/bg/yellow.png"), url("img/bg/blue.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left 0 top 25vw, left 0 top 115vw;
    background-size: contain, contain; */
}

.cutebag{
    position: fixed;
    top: 50vw;
    left: 50vw;
    transform: translate(-50%,-50%);
    width: 10vw;
}
.cutebag__img{
    /* position: relative; */
    width: 100%;
}

.bg__cloud {
    width: 100vw;
}

.logo {
    position: absolute;
    top: 10vw;
    left: 6vw;
    width: 16vw;
}
.logo img {
    width: 100%;
}
.founder {
    position: absolute;
    top: 45vw;
    left: 16vw;
    width: 20vw;
}
.founder img {
    width: 100%;
}
.landing__text {
    background-image: url("img/bg/yellow.png");
    background-repeat: no-repeat;
    background-position: left 0 top 25vw;
    background-size: contain;
    padding: 10vw 10vw 0 0;
    width: 100vw;
    height: 80vw;
    writing-mode: vertical-rl
}
.landing__text_en {
    font-size: 1.2rem;
    color: #ff6748;
}
.landing__text_tc {
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
}
/* steps */
.steps__text {
    width: 100vw;
    padding: 0 0 0 15vw;
}
.steps__title {
    font-size: 2rem;
}
.steps__text_free {
    color: #ff6748;
}
.steps__item {
    margin: 5vw 0;
    overflow: hidden;
}
.steps__item_img {
    float:left;
    display: block;
    width:15%;
}
.steps__item_text {
    float: right;
    width: 85%;
    padding: 2%;
}
.steps__item.steps__item_right {
    float: right;
    width: 50%;
}
.steps__item.steps__item_right .steps__item_img {
    float:left;
    display: block;
    width:40%;
}
.steps__item.steps__item_right .steps__item_text {
    float:right;
    display: block;
    width:60%;
    font-size: 2rem;
}

/* reasons */
.reasons__text {
    background-image: url("img/bg/blue.png");
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    position: relative;
    padding: 25vw 5vw 10vw 5vw;
    width: 100vw;
    height: 300vw;
    
}
.reasons__title {
    font-size: 2rem;
}
.reasons__item {
    margin: 10vw;
}
.reasons__item img{
    width: 100%;
}
.reasons__end {
    position: absolute;
    bottom: 10vw;
    right: 5vw;
    font-size: 1.5rem;
}

/* about */
.about__text {
    padding: 25vw 5vw 10vw 50vw;
    width: 100vw;
}
.about__hoo {
    width: 15vw;
}
.about__hoo-text {
    margin: 2vw 0 0 0;
    padding: 0 0 0 10vw;
}
.about__chuu {
    width: 15vw;
}
.about__chuu-text {
    position: relative;
    left: -10vw;
}
/* past */
.past__text {
    margin: 10vw 5vw;
}
.past__left {
    width: 10%;
}
.past__right {
    width: 90%;
}
/* splide */
.splide {
    z-index: 7;
}
.splide__slide {
    background-color: #fff;
    border: #ff6748 1px solid;
    border-radius: 45px;
}
.splide__slide p {
    margin: 2vw;
}
/* share */
.share__text {
    padding: 15vw 5vw 0 10vw;
    height: 50vw;
}
.share__left {
    float: left;
    width: 30%;
}
.share__title {

}
.share__title-text {
    font-size: 2rem;
    text-align: center;
}
.share__right {
    position: relative;
    float: right;
    padding: 20vw 0 0;
    width: 30%;
}
.share__icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 10%;
}
.share__icon-text {
    padding: 5vw 0;
    text-align: center;
}
/* footer */
.footer {
    background-image: url("img/bg/green.png");
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    position: relative;
    padding: 40vw 5vw 10vw 15vw;
    width: 100vw;
    height: 89vw;
    z-index: 4;
}
.footer__left {
    float: left;
    width: 50%;
    padding: 20vw 0 0;
}
.footer__right {
    float: right;
    width: 50%;
}
.footer__logo {
    width: 100%;
}
.footer__title {
    width: 50%;
}
.footer__text {
    margin: 10vw 0 0 10vw;
    font-size: 1.4rem;
}
.footer__ig, .footer__email {
    width: 10%;
}

.footer .marquee-wall{
    position: absolute;
    bottom: 0;
    left: 0;
}
.placeholder4xx {
    height: 460px;
}
.placeholder25xx {
    height: 2535px;
}

