@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@font-face {
    font-family: "Galvji";
    src:
      url("../fonts/Galvji.ttc") format("ttc");
}

* {   margin: 0;   padding: 0;   box-sizing: border-box; } 
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    background-color: #fff;
    font-family: 'Noto Sans TC', 'Galvji', sans-serif;
    scroll-behavior: smooth;
}


a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}
a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
img {
    width: 100%;
}
.font__en {
    font-family: 'Galvji';
}
.font__orange {
    color: #ff6748;
}

/* CSS Animation */
@keyframes fadeout{
    0%{ opacity: 1; }
    100%{ opacity: 0; }
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(-10deg); } 
    100% { -moz-transform: rotate(10deg); } 
}
@-webkit-keyframes spin { 
    0% { -webkit-transform: rotate(-10deg); } 
    100% { -webkit-transform: rotate(10deg); } 
}
@keyframes spin { 
    0% { 
        -webkit-transform: rotate(-10deg); 
        transform:rotate(-10deg); 
    } 
    100% { 
        -webkit-transform: rotate(10deg);
        transform:rotate(10deg);
    } 
}
@keyframes scroll{
    from{transform: translateX(100%)}
    to{transform: translateX(-100%)}
}
@keyframes scroll2{
    from{transform: translateX(0%)}
    to{transform: translateX(-200%)}
}

.progressbar {
    background: url(../img/loading.png), radial-gradient(circle, rgba(255,104,72,1) 0%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-position: 50% 35%;
    background-size: 40%, contain;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
.progressbar.fadeout {
    opacity: 0;
    -webkit-animation:fadeout 1s linear normal ;
    -moz-animation:fadeout 1s linear normal ;
    animation:fadeout 1s linear normal ;
}

.progressbar__lottie {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    width: 20vw;
}
.progressbar__bar {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
}
.progressbar__text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    text-align: center;
    font-size: 1rem;
}
/* HTML: <div class="loader"></div> */
.loader {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: #fff;
    border: 2px solid;
    position: relative;
}
.loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 10s;
    animation-fill-mode: both;
}
.loader p{
    position: relative;
    top: 100%;
    text-align: center;
}
@keyframes l6 {
    100% {inset:0}
}
/* HTML: <div class="loader"></div> */

.sidebar__open {
    position: fixed;
    top: 12vw;
    right: 4vw;
    width: 8vw;
    cursor: pointer;
    z-index: 11;
}
.sidebar__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    cursor: pointer;
}
.sidebar__logo {
    /* margin: 5vw 0 0; */
    padding: 5vw 5vw;
    width: 100%;
}
.sidebar {
    height: 100%;
    width: 480px;
    position: fixed;
    top: 0;
    z-index: 12;
    right: -480px;
    padding: 200px 0 0 100px;
    /* background-color: #ff6748; */
    background-image: url("../img/barbg.png");
    background-repeat: no-repeat;
    background-position: right 0 top 0;
    background-size: cover;
}
.sidebar-list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    /* margin-top: 150px; */
    text-align: center;
}
.sidebar-item {
    margin: 30px 0;
    /* opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); */
}
.sidebar-anchor {
    color: #FFF;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 7px;
}
.sidebar-anchor:active::before{
    content:url('../img/barline.png');
    position: absolute; 
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
    z-index:100;
}
.sidebar__text {
    text-align: center;
    color: #fff;
}


.applybutton {
    position: fixed;
    bottom: 9vw;
    left: 3vw;
    width: 25vw;
    z-index: 8;
    opacity: 1;
    -webkit-animation:spin 0.5s linear alternate infinite;
    -moz-animation:spin 0.5s linear alternate infinite;
    animation:spin 0.5s linear alternate infinite;
}
#lottie1 {
    width: 60vw;
    position: fixed;
    top: 25vh;
    left: 50vw;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 6;
}

.cutebag{
    position: fixed;
    top: 50vw;
    left: 50vw;
    transform: translate(-50%,-50%);
    width: 10vw;
}
.cutebag__img{
    /* position: relative; */
    width: 100%;
}

.logo {
    position: absolute;
    top: 10vw;
    left: 6vw;
    width: 16vw;
}
.founder {
    position: absolute;
    top: 45vw;
    left: 16vw;
    width: 20vw;
}
.founder img {
    width: 100%;
}
.landing__text {
    background-image: url("../img/mobile/p1.png");
    background-repeat: no-repeat;
    background-position: left 0 top 15vw;
    background-size: contain;
    position: relative;
    padding: 0;
    width: 100vw;
    height: 150vw;
    writing-mode: vertical-rl
}
.landing__text_en {
    font-size: 1.2rem;
    color: #ff6748;
}
.landing__text_tc {
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
}
.landing__words {
    background-image: url("../img/mobile/p1_words.png");
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    position: sticky;
    top: 30vw;
    left: 0;
    width: 100vw;
    height: 100vw;
}
/* steps */
.steps__text {
    width: 100vw;
    padding: 0 0 0 5vw;
}
.steps__title {
    margin: 5vw 0 50vw;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}
.steps__text_free {
    font-weight: 600;
    color: #ff6748;
}
.steps__item {
    margin: 5vw 0;
    overflow: hidden;
}
.steps__item_img {
    float:left;
    display: block;
    width:20%;
}
.steps__item_text {
    float: right;
    width: 80%;
    padding: 0 2%;
    font-size: 0.8rem;
}
.steps__item.steps__item_right {
    /* float: right; */
    width: 100%;
    padding: 0 0 0 5vw;
}
.steps__item.steps__item_right .steps__item_img {
    float:left;
    display: block;
    width:40%;
}
.steps__item.steps__item_right .steps__item_text {
    float:right;
    display: block;
    width:60%;
    padding: 5% 0 0 5%;
    font-size: 1.5rem;
}
.digit {
    opacity: 0;
    -webkit-transform: translateX(-40px);
         -moz-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
             -o-transform: translateX(-40px);
                    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
         -moz-transition: all 0.6s ease-out;
            -ms-transition: all 0.6s ease-out;
             -o-transition: all 0.6s ease-out;
                    transition: all 0.6s ease-out;
}
.digit.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
.reasons__digit {
    opacity: 0;
    -webkit-transition: all 0.6s ease-in-out;
         -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
             -o-transition: all 0.6s ease-in-out;
                    transition: all 0.6s ease-in-out;
}
.reasons__digit.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
/* .digit:nth-child(2) {
    margin-top: 50px;
}
.digit:nth-child(3) {
    margin-top: 50px;
}
.digit:nth-child(4) {
    margin-top: 50px;
}
.digit:nth-child(5) {
    margin-top: 50px;
} */

/* reasons */
.reasons__text {
    background-image: url("../img/mobile/reasonblue.png");
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    position: relative;
    padding: 30vw 0 10vw 0;
    width: 100vw;
    height: 1150vw;
    
}
.reasons__title {
    width: 100%;
    padding: 10vw 5vw 0 5vw;
}
.reasons__item {
    position: sticky;
    top: 30vw;
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    width: 100%;
    height: 130vw;
    margin: 40vw 0;
}
.reasons__item1 {
    background-image: url("../img/mobile/reason1.png");
}
.reasons__item2 {
    background-image: url("../img/mobile/reason2.png");
}
.reasons__item3 {
    background-image: url("../img/mobile/reason3.png");
}
.reasons__item4 {
    background-image: url("../img/mobile/reason4.png");
}
.reasons__item5 {
    background-image: url("../img/mobile/reason5.png");
}

.reasons__end {
    position: absolute;
    bottom: 10vw;
    right: 5vw;
    font-size: 1.5rem;
}

/* about */
.about__text {
    padding: 10vw 5vw 10vw 5vw;
    width: 100vw;
}
.about__hoo {
    width: 30vw;
}
.about__hoo-text {
    margin: 2vw 0 5vw 0;
    text-align: center;
    letter-spacing: 0.1rem;
}
.about__chuu {
    position: relative;
    left: 50vw;
    width: 30vw;
}
.about__chuu-text {
    position: relative;
    margin: 5vw 0 0;
    text-align: center;
    letter-spacing: 0.1rem;
}
.about__chuu-text.right {
    left: 0;
    margin: 10vw 0 0;
}
.about__kiang {
    position: relative;
    top: 2vw;
    left: 1vw;
    width: 10vw;
}
/* past */
.past__text {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10vw 5vw;
    background-color: #fff;
    border: #ff6748 1px solid;
    border-radius: 15px;
    z-index: 7;
    color: #ff6748;
}
.past__left {
    padding:  2vw 5vw;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}
.past__title {
    background-image: url("../img/mobile/pasttitle.png");
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    position: relative;
    width: 65%;
    height: 4vw;
}
.past__right {
    flex-grow: 1;
    padding: 2vw 5vw;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    border-top: #ff6748 1px solid;
}
/* splide */
.splide {
    z-index: 7;
}

.splide__arrow {
    background-color: transparent;
    width: 3rem;
    top: 105%;
}
.splide__arrow--prev {
    left: 5vw;
}
.splide__arrow--next {
    right: 5vw;
}
.splide__pagination {
    bottom: -2rem;
}
.splide__pagination__page {
    margin: 8px;
    background: #50ec72;
}
.splide__pagination__page.is-active {
    background: #ff6748;
}
.splide__slide {
    background-color: #fff;
    border: #ff6748 1px solid;
    border-radius: 45px;
    overflow: hidden;
}
.splide__slide p {
    margin: 2vw;
    font-size: 1rem;
}
.splide__slide .splide__slidetitle {
    font-size: 1.2rem;
    font-weight: 600;
}
.splide__slide.is-active .splide__slidetitle {
    color: #ff6748;
}
.splide__slidenumber {
    position: absolute;
    bottom: 5px;
    right: 20px;
    color: #ff6748;
    font-size: 1.5rem;
}
/* share */
.share__text {
    position: sticky;
    top: 0;
    padding: 50vw 5vw 0 10vw;
    height: 180vw;
}
.share__left {
    background-image: url("../img/mobile/p10.png");
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    width: 100%;
    height: 20vw;
}
.share__title {

}
.share__title-text {
    font-size: 2rem;
    text-align: center;
}
.share__right {
    position: relative;
    padding: 7vw 0 0;
    width: 100%;
}
.share__icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 5%;
}
.share__icon-text {
    padding: 10vw 0;
    font-size: 1rem;
    /* font-weight: 500; */
    line-height: 1.8;
    letter-spacing: 0.2rem;
    text-align: center;
}
/* footer */
.footer {
    background-image: url("../img/mobile/p11.png");
    background-repeat: no-repeat;
    background-position: left 0 top 0;
    background-size: contain;
    position: relative;
    padding: 90vw 5vw 10vw 5vw;
    width: 100vw;
    height: 185vw;
    z-index: 4;
}
.footer__left {
    float: left;
    width: 50%;
    padding: 20vw 0 0;
}
.footer__right {
    /* float: right; */
    width: 100%;
    text-align: center;
}
.footer__logo {
    width: 100%;
}
.footer__title {
    width: 50%;
}

.footer__text {
    margin: 10vw 0 0 0;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 2;
}
.footer__link {
    margin: 10vw 0 0 0;
    font-size: 0.8rem;
    line-height: 2;
}

.footer__ig, .footer__email {
    width: 10%;
    margin: 0 2%;
}

/***** Desktop *****/
@media (min-width: 768px) {
    .progressbar {
        background-size: 20%, contain;
    }
    .sidebar__open {
        position: fixed;
        top: 7vw;
        right: 4vw;
        width: 4vw;
        cursor: pointer;
        z-index: 11;
    }
    .sidebar__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
    .sidebar__logo {
        /* margin: 5vw 0 0; */
        padding: 5vw 5vw;
        width: 100%;
    }
    .sidebar {
        height: 100%;
        width: 480px;
        position: fixed;
        top: 0;
        z-index: 12;
        right: -480px;
        padding: 200px 0 0 50px;
        /* background-color: #ff6748; */
        background-image: url("../img/barbg.png");
        background-repeat: no-repeat;
        background-position: right 0 top 0;
        background-size: cover;
    }
    .sidebar-list {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        /* margin-top: 150px; */
        text-align: center;
    }
    .sidebar-item {
        margin: 30px 0;
        /* opacity: 0;
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px); */
    }
    .sidebar-anchor {
        color: #FFF;
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 7px;
    }
    .sidebar__text {
        text-align: center;
        color: #fff;
    }

    .applybutton {
        position: fixed;
        bottom: 4vw;
        left: 3vw;
        width: 10vw;
        z-index: 8;
        opacity: 1;
    }
    #lottie1 {
        width: 37vw;
        position: fixed;
        top: -18vh;
        left: 50vw;
        transform: translate(-50%);
        z-index: 6;
    }

    .cutebag{
        position: fixed;
        top: 50vw;
        left: 50vw;
        transform: translate(-50%,-50%);
        width: 10vw;
    }
    .cutebag__img{
        /* position: relative; */
        width: 100%;
    }

    .bg__cloud {
        width: 100vw;
    }

    .logo {
        position: absolute;
        top: 10vw;
        left: 6vw;
        width: 16vw;
    }
    .logo img {
        width: 100%;
    }
    .founder {
        position: absolute;
        top: 45vw;
        left: 16vw;
        width: 20vw;
    }
    .founder img {
        width: 100%;
    }
    .landing__text {
        background-image: url("../img/p1.png");
        background-position: left 0 top 14vw;
        height: 70vw;
    }
    .landing__text_en {
        font-size: 1.2rem;
        color: #ff6748;
    }
    .landing__text_tc {
        font-size: 1.6rem;
        letter-spacing: 0.5rem;
    }
    .landing__words {
        background-image: url("../img/p1_words.png");
        background-position: left 0 top 0;
        height: 50vw;
        top: 10vw;
    }

    /* steps */
    .steps__text {
        width: 100vw;
        padding: 0 0 0 15vw;
    }
    .steps__title {
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
    }
    .steps__text_free {
        color: #ff6748;
    }
    .steps__item {
        margin: 5vw 0;
        overflow: hidden;
    }
    .steps__item_img {
        float:left;
        display: block;
        width: 15%;
    }
    .steps__item_text {
        float: right;
        width: 85%;
        padding: 2%;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }
    .steps__item.steps__item_two .steps__item_text {
        padding: 0 2%;
    }
    .steps__item.steps__item_right {
        float: right;
        width: 50%;
        padding: 0;
    }
    .steps__item.steps__item_right .steps__item_img {
        float:left;
        display: block;
        width:40%;
    }
    .steps__item.steps__item_right .steps__item_text {
        float:right;
        display: block;
        width:60%;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
    }

    /* reasons */
    .reasons__text {
        background-image: url("../img/reasonblue.png");
        background-repeat: no-repeat;
        background-position: left 0 top 0;
        background-size: contain;
        position: relative;
        padding: 30vw 0 10vw 0;
        width: 100vw;
        height: 300vw;
    }
    .reasons__title {
        width: 50%;
    }
    .reasons__item {
        top: 10vw;
        background-repeat: no-repeat;
        background-position: left 0 top 0;
        background-size: contain;
        width: 100%;
        height: 40vw;
        margin: 5vw 0;
    }
    .reasons__item1 {
        background-image: url("../img/reason1.png");
    }
    .reasons__item2 {
        background-image: url("../img/reason2.png");
    }
    .reasons__item3 {
        background-image: url("../img/reason3.png");
    }
    .reasons__item4 {
        background-image: url("../img/reason4.png");
    }
    .reasons__item5 {
        background-image: url("../img/reason5.png");
    }

    .reasons__end {
        position: absolute;
        bottom: 10vw;
        right: 5vw;
        font-size: 1.5rem;
    }

    /* about */
    .about__text {
        padding: 5vw 5vw 10vw 50vw;
        width: 100vw;
    }
    .about__hoo {
        width: 15vw;
    }
    .about__hoo-text {
        margin: 2vw 0 0 0;
        padding: 0 0 0 10vw;
        text-align: left;
    }
    .about__chuu {
        width: 15vw;
        left: -5vw;
    }
    .about__chuu-text {
        position: relative;
        left: -10vw;
        text-align: left;
    }
    .about__chuu-text.right {
        left: -5vw;
        margin: 10vw 0 0;
    }
    .about__kiang {
        top: 2vw;
        left: 1vw;
        width: 7vw;
    }
    /* past */
    .past__text {
        display: flex;
        flex-direction: row;
        position: relative;
        margin: 10vw 10vw;
        background-color: #fff;
        border: #ff6748 1px solid;
        border-radius: 15px;
        z-index: 7;
        color: #ff6748;
    }
    .past__left {
        padding: 2vw;
        width: 20%;
        font-weight: 600;
    }
    .past__title {
        background-image: url("../img/pasttitle.png");
        width: 80%;
    }
    .past__right {
        flex-grow: 1;
        padding: 2vw;
        border-top: none;
        border-left: #ff6748 1px solid;
    }
    /* splide */
    .splide {
        z-index: 7;
    }
    .splide__slide {
        background-color: #fff;
        border: #ff6748 1px solid;
        border-radius: 25px;
    }
    .splide__slide p {
        margin: 2vw;
    }
    /* share */
    .share__text {
        position: sticky;
        top: 0;
        padding: 10vw 5vw 0 10vw;
        height: 40vw;
    }
    .share__left {
        background-image: url("../img/p10.png");
        background-repeat: no-repeat;
        background-position: left 0 top 0;
        background-size: contain;
        width: 30%;
        height: 10vw;
    }
    .share__title {

    }
    .share__title-text {
        font-size: 2rem;
        text-align: center;
    }
    .share__right {
        position: relative;
        float: right;
        padding: 0;
        width: 40%;
    }
    .share__icon {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 10%;
    }
    .share__icon-text {
        padding: 5vw 0;
        text-align: center;
    }
    /* footer */
    .footer {
        background-image: url("../img/p11.png");
        background-repeat: no-repeat;
        background-position: left 0 top 0;
        background-size: contain;
        position: relative;
        padding: 40vw 5vw 10vw 15vw;
        width: 100vw;
        height: 90vw;
        z-index: 4;
    }
    .footer__left {
        float: left;
        width: 50%;
        padding: 20vw 0 0;
    }
    .footer__right {
        float: right;
        width: 50%;
    }
    .footer__logo {
        width: 100%;
    }
    .footer__title {
        width: 50%;
    }
    .footer__text {
        margin: 17vw 0 0 5vw;
        font-size: 0.8rem;
        text-align: left;
    }
    .footer__link {
        margin: 5vw 0 0 5vw;
        text-align: left;
    }
    .footer__ig, .footer__email {
        width: 10%;
        margin: 0 4% 0 0;
    }
}

/***** Large Desktop *****/

@media (min-width: 1920px) {

}