@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
html, body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
    background-color: #80ddd0;
    overflow-x: hidden;
}
#title h3, p{
    margin-top: 0px;
    margin-bottom: 0px;
}
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

@keyframes scroll{
    from{transform: translateX(100%)}
    to{transform: translateX(-100%)}
}
@keyframes scroll2{
    from{transform: translateX(0%)}
    to{transform: translateX(-200%)}
}
.marquee-wall{
    display: flex;
    width: 100vw;
    height: 30px;
    background-color: #ff6748;
    color: #fff;
    font-size:  15px;
    line-height: 2.2;
    overflow: hidden;
}
.marquee-wall2{
    display: flex;
    position: absolute;
    top: 153vw;
    width: 100vw;
    height: 30px;
    background-color: #ff6748;
    color: #fff;
    font-size:  15px;
    line-height: 2.2;
    overflow: hidden;
}
.marquee-wrapper{
    display: flex;
    animation: scroll 20s linear infinite;
}
.marquee-wrapper:nth-child(2){
    animation: scroll2 20s linear infinite;
    animation-delay: -10s;
}
.marquee{
    width: 250px;
    margin: 0 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marquee2{
    width: 666px;
    margin: 0 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg,#bgimg{
    display: block;
    position: absolute;
    width: 100%;
    height: 130vw;
    background-image: url("assets/BG.png");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.back{
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 40px;
    right: 1vw;
    z-index: 5;
    background-color: transparent;
    border: none;
    background-image: url("assets/back.png");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}
#main{
    display: block;
    position: absolute;
    width: 70%;
    height: 100%;
    left: 15%;
    top: 20vw;
}
#last{
    display: block;
    position: relative;
    width: 100%;
    height: 20%;
    left: 0%;
    top: 35vh;
}

.form-group {
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    margin-bottom: 15px; /* 设置间距 */
}

/* 设置 label 的宽度 */
.form-group label {
    min-width: 130px; /* 设置 label 的最小宽度 */
    margin-right: 50px; /* 设置右侧边距 */
}

.short{
    margin-right: 1px !important;
}

/* 设置 input 的宽度 */
.form-group input {
    flex: 1; /* 设置 input 元素的 flex 属性为 1，使其填充剩余空间 */
    border-radius: 20px; /* 设置输入框和文本域的圆角 */
    border: 1px solid #ccc; /* 设置边框样式 */
    padding: 8px; /* 设置内边距 */
}
.form-group select {
    /*-webkit-appearance: none;*/
    border-radius: 20px !important;
    border: 1px solid #ccc !important; /* 设置边框样式 */
    padding: 8px !important; /* 设置内边距 */
    margin-right: 10px !important;
}
#bags {
    /*-webkit-appearance: none;*/
    flex: 1 !important; /* 设置 input 元素的 flex 属性为 1，使其填充剩余空间 */
    border-radius: 20px !important;
    border: 1px solid #ccc !important; /* 设置边框样式 */
    padding: 8px !important; /* 设置内边距 */
    margin-right: 0px !important;
}
#agree_flag{
    /*-webkit-appearance: none;*/
    flex: 1 !important; /* 设置 input 元素的 flex 属性为 1，使其填充剩余空间 */
    border-radius: 20px !important;
    border: 1px solid #ccc !important; /* 设置边框样式 */
    padding: 8px !important; /* 设置内边距 */
    margin-right: 0px !important;
}
#colortitle {
    display: flex;
    align-items: stretch; /* 垂直居中对齐 */
}
.checkbox-item {
    display: inline-block; /* 将复选框项设置为行内块元素 */
    width: calc(28%); /* 设置宽度为三分之一，并减去间距 */
    margin-right: 2vw; /* 设置右侧间距 */
    vertical-align: top; /* 使复选框项顶部对齐 */
    border: 1px solid #ccc; /* 添加边框样式 */
    border-radius: 20px; /* 添加圆角 */
    padding: 5px; /* 添加内边距 */
    font-weight: normal;
    background-color: white;
    flex: 1;
}

.checkbox-item label {
    margin-left: 5px;
}

.checkbox-item input[type="checkbox"]:checked + label {
    color: green; /* 将勾选的标签文本颜色设置为绿色 */
}

.checkbox-item [type="checkbox"]:checked {
    border: green; /* 将勾选的复选框边框颜色设置为绿色 */
}

#other-item {
    display: inline-block; /* 将复选框项设置为行内块元素 */
    width: 50%; /* 设置宽度为三分之一，并减去间距 */
    margin-right: 10vw; /* 设置右侧间距 */
    vertical-align: top; /* 使复选框项顶部对齐 */
    border: 1px solid #ccc; /* 添加边框样式 */
    border-radius: 20px; /* 添加圆角 */
    padding: 5px; /* 添加内边距 */
}

#other-text{
    position: relative;
    left: -5%;
    flex: 1; /* 设置 input 元素的 flex 属性为 1，使其填充剩余空间 */
    width: 50%;
    border-radius: 10px; /* 设置输入框和文本域的圆角 */
    border: 1px solid #ccc; /* 设置边框样式 */
    padding: 8px; /* 设置内边距 */
}

.submit{
    display: block;
    position: relative;
    width: 20vw;
    top: 5vw;
    left: 25vw;
    border: 0px solid #ccc; /* 添加边框样式 */
    border-radius: 20px; /* 添加圆角 */
    padding: 5px; /* 添加内边距 */
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    z-index: 7;
}

.popup{
    display: none;
    position: fixed;
    z-index: 10;
    float: right;
    text-align: center;
    width: 50%;
    left: 25vw;
    top: 10vw;
}
.popup2{
    display: none;
    position: fixed;
    z-index: 10;
    float: right;
    text-align: center;
    width: 50%;
    left: 25vw;
    top: 10vw;
}

.square {
    position: absolute; /* 设置绝对定位 */
    z-index: -1;
    top: 0; /* 顶部对齐 */
    left: 0; /* 左侧对齐 */
    width: 100%; /* 宽度占满父容器 */
    height: 100%; /* 高度占满父容器 */
    background-color: white; /* 方形的背景颜色 */
    border-radius: 20px; /* 圆角半径，根据需要调整 */
}
.footer__text {
    margin: 5vw 0 0 5vw;
    font-size: 1.2rem;
    width: 80%;
    line-height: 2.5;
}
.footer__link {
    margin: 5vw 0 5vw 0;
}
.footer__ig, .footer__email {
    width: 10%;
}
.font__en {
    font-family: 'Galvji';
}

#lottie1 {
    width: 20vw;
    position: absolute;
    top: 140vh;
    left: 50vw;
    transform: translate(-50%);
    z-index: 6;
}

@media (max-width: 767px){
    #main{
        display: block;
        position: absolute;
        width: 90%;
        height: 120vw;
        left: 5vw;
        top: 40vw;
    }
    #last{
        display: block;
        position: relative;
        width: 100%;
        height: 30%;
        left: 0%;
        top: 30vh;
    }
    .form-group label {
        min-width: 130px; /* 设置 label 的最小宽度 */
        margin-right: 50px; /* 设置右侧边距 */
    }
    .short{
        min-width: 1px !important;
        margin-right: 1px !important;
    }
    .marquee-wall2{
        top: 360vw;
    }
    .checkbox-item {
        display: inline-block; /* 将复选框项设置为行内块元素 */
        width: calc(20% - 1px); /* 设置宽度为三分之一，并减去间距 */
        margin-right: 1px; /* 设置右侧间距 */
        vertical-align: top; /* 使复选框项顶部对齐 */
        border: 1px solid #ccc; /* 添加边框样式 */
        border-radius: 20px; /* 添加圆角 */
        padding: 5px; /* 添加内边距 */
        font-weight: normal;
        background-color: white;
    }
    .submit{
        display: block;
        position: relative;
        width: 200px;
        top: 5vw;
        left: 45vw;
        transform: translateX(-100px);
        border: 0px solid #ccc; /* 添加边框样式 */
        border-radius: 20px; /* 添加圆角 */
        padding: 5px; /* 添加内边距 */
        background-color: white;
        font-weight: bold;
        font-size: 20px;
    }
    .bg,#bgimg{
        display: block;
        position: absolute;
        width: 100%;
        height: 360vw;
        background-image: url("assets/BG2.png");
        background-position: top center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .popup{
        width: 80%;
        left: 10vw;
        top: 25vw;
    }
    .popup2{
        width: 80%;
        left: 10vw;
        top: 25vw;
    }
    .footer__text {
        width: 80%;
        margin: 5vw 0 0 8vw;
        font-size: 1.2rem;
        line-height: 2.5;
    }
    .footer__link {
        margin: 20vw 0 5vw 0;
    }
    #lottie1 {
        width: 40vw;
        position: absolute;
        top: 130vh;
        left: 50vw;
        transform: translate(-50%);
        z-index: 6;
    }
}

@media (min-width: 1920px){
    html, body {
        font-size: 30px !important;
    }
    input {
        font-size: 30px !important;
        border-radius: 50px !important;
    }
    input[type="checkbox" i] {
        transform: scale(2);
        margin-right: 10px;
    }
    select{
        font-size: 30px !important;
        border-radius: 50px !important;
    }
    .marquee-wall2{
        top: 140vw;
    }
    #last{
        top: 20vh;
    }
    .checkbox-item {
        border-radius: 50px !important; /* 添加圆角 */
    }
    .form-group label {
        min-width: 250px; /* 设置 label 的最小宽度 */
        max-width: 250px;
        margin-right: 50px; /* 设置右侧边距 */
    }
}